.tag-setup: &tag-setup
- |
  if [ -n "${CI_COMMIT_TAG}" ] ; then
    # If this build is from a git tag, use that as the docker tag. The
    # git tag must be acceptable to Helm's semver validator!
    export TAG_SPECIFIC="${CI_COMMIT_TAG}"
  else
    # If this build is from a branch, use the name and sha as the
    # docker tag.
    export TAG_SPECIFIC="v0.0.0-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}"
    # Build both a commit-specific build and a branch-latest build.
    export TAG_LATEST="v0.0.0-${CI_COMMIT_REF_NAME}-latest"
  fi

.docker-setup: &docker-setup
- docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
- mkdir -p ~/.ssh && chmod 700 ~/.ssh
- ssh-keyscan -H gitlab.com >> ~/.ssh/known_hosts

.alpine-setup: &alpine-setup
- apk add make git wget

image: docker:20.10.3
services:
- docker:20.10.3-dind
variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PROJECT: $CI_PROJECT_NAME
  REGISTRY_IMAGE: $CI_REGISTRY_IMAGE
  NETBOX_USER_TOKEN: no-op
  # https://docs.gitlab.com/12.10/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_TLS_CERTDIR: "/certs"
before_script:
- *tag-setup
- *docker-setup
- *alpine-setup
stages:
  - image
  - manifest
  - pages

check:
  stage: image
  image: golang:1.19-bullseye
  services: []
  before_script: []
  script: make website check

arm64:
  stage: image
  before_script:
  - *tag-setup
  - *docker-setup
  script: make SUFFIX=${TAG_SPECIFIC} image

k8s-manifest:
  stage: manifest
  image: golang:1.23-bullseye
  services: []
  before_script: [ *tag-setup ]
  script:
    - make REGISTRY_IMAGE=${CI_REGISTRY_IMAGE} MANIFEST_SUFFIX=${TAG_SPECIFIC} SUFFIX=${TAG_SPECIFIC} crd manifest
    - make SUFFIX=${TAG_SPECIFIC} helm
    - curl --request POST --form "chart=@purelb-${TAG_SPECIFIC}.tgz" --user gitlab-ci-token:${CI_JOB_TOKEN} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
    - |
      if [ -n "${TAG_LATEST}" ] ; then
        make REGISTRY_IMAGE=${CI_REGISTRY_IMAGE} MANIFEST_SUFFIX=${TAG_LATEST} SUFFIX=${TAG_LATEST} manifest
        make SUFFIX=${TAG_LATEST} helm
        curl --request POST --form "chart=@purelb-${TAG_LATEST}.tgz" --user gitlab-ci-token:${CI_JOB_TOKEN} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
      else
        # to make our documention more stable we upload a "latest"
        # deployment manifest to a fixed location. This means that we
        # don't need to update the docs for every release.
        wget --no-verbose --header "JOB-TOKEN: $CI_JOB_TOKEN" --method=PUT --body-file=deployments/purelb-${TAG_SPECIFIC}.yaml "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/manifest/0.0.1/purelb-complete.yaml"
      fi
  artifacts:
    paths:
      - deployments/*
      - configs/*
      - purelb-v*.tgz

pages:
  stage: pages
  image: golang:1.19-bullseye
  services: []
  before_script:
  - *tag-setup
  script:
  - make website
  artifacts:
    paths:
    - website/public
  publish: website/public
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
