.envrc
deployments/purelb-*.yaml
deployments/crds/purelb.io_*.yaml
configs/my-servicegroup.yaml
build/helm/purelb/crds/purelb.io_*.yaml
build/build/*
*.tgz
website/public
website/resources/_gen
website/hugo_stats.json
.hugo_build.lock
pkg/generated
pkg/apis/purelb/*/zz_generated.deepcopy.go
