.tag-setup: &tag-setup
- |
  if [ -n "${CI_COMMIT_TAG}" ] ; then
    # If this build is from a git tag, use that as the docker tag. The
    # git tag must be acceptable to Helm's semver validator!
    export TAG_SPECIFIC="${CI_COMMIT_TAG}"
  else
    # If this build is from a branch, use the name and sha as the
    # docker tag.
    export TAG_SPECIFIC="v0.0.0-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}"
    # Build both a commit-specific build and a branch-latest build.
    export TAG_LATEST="v0.0.0-${CI_COMMIT_REF_NAME}-latest"
  fi

.docker-setup: &docker-setup
- docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
- mkdir -p ~/.ssh && chmod 700 ~/.ssh
- ssh-keyscan -H gitlab.com >> ~/.ssh/known_hosts

.alpine-setup: &alpine-setup
- apk add make git wget

image: docker:20.10.3
services:
- docker:20.10.3-dind
variables:
  PROJECT: $CI_PROJECT_NAME
  REGISTRY_IMAGE: $CI_REGISTRY_IMAGE
  NETBOX_USER_TOKEN: no-op
  # https://docs.gitlab.com/12.10/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_TLS_CERTDIR: "/certs"
before_script:
- *tag-setup
- *docker-setup
- *alpine-setup
stages:
  - image
  - manifest

check:
  stage: image
  image: golang:1.18.4-bullseye
  before_script: []
  script: make check

arm64:
  stage: image
  tags:
  - arm64
  script: make SUFFIX=arm64-${TAG_SPECIFIC} image install

amd:
  stage: image
  script: make SUFFIX=amd64-${TAG_SPECIFIC} image install

docker-manifest:
  stage: manifest
  script:
    - make REGISTRY_IMAGE=${CI_REGISTRY_IMAGE} MANIFEST_SUFFIX=${TAG_SPECIFIC} SUFFIX=${TAG_SPECIFIC} docker-manifest
    - |
      if [ -n "${TAG_LATEST}" ] ; then
        make REGISTRY_IMAGE=${CI_REGISTRY_IMAGE} MANIFEST_SUFFIX=${TAG_LATEST} SUFFIX=${TAG_SPECIFIC} docker-manifest
      fi

manifest:
  stage: manifest
  image: golang:1.18.4-bullseye
  before_script:
  - *tag-setup
  script:
    # Install kustomize
    - wget --no-verbose -O - https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv4.0.1/kustomize_v4.0.1_linux_amd64.tar.gz | tar -C /usr/local/bin -xzf -
    # Install helm
    - wget --no-verbose -O - https://get.helm.sh/helm-v3.6.3-linux-amd64.tar.gz | tar -C /usr/local/bin -xzf - --strip-components=1 linux-amd64/helm
    # Install controller-gen
    - go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.7.0
    - make REGISTRY_IMAGE=${CI_REGISTRY_IMAGE} MANIFEST_SUFFIX=${TAG_SPECIFIC} SUFFIX=${TAG_SPECIFIC} crd manifest
    - make SUFFIX=${TAG_SPECIFIC} helm
    - curl --request POST --form "chart=@purelb-${TAG_SPECIFIC}.tgz" --user gitlab-ci-token:${CI_JOB_TOKEN} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
    - |
      if [ -n "${TAG_LATEST}" ] ; then
        make REGISTRY_IMAGE=${CI_REGISTRY_IMAGE} MANIFEST_SUFFIX=${TAG_LATEST} SUFFIX=${TAG_LATEST} manifest
        make SUFFIX=${TAG_LATEST} helm
        curl --request POST --form "chart=@purelb-${TAG_LATEST}.tgz" --user gitlab-ci-token:${CI_JOB_TOKEN} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
      else
        # to make our documention more stable we upload a "latest"
        # deployment manifest to a fixed location. This means that we
        # don't need to update the docs for every release.
        wget --no-verbose --header "JOB-TOKEN: $CI_JOB_TOKEN" --method=PUT --body-file=deployments/purelb-${TAG_SPECIFIC}.yaml "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/manifest/0.0.1/purelb-complete.yaml"
      fi

  artifacts:
    paths:
      - deployments/*
      - configs/*
      - purelb-v*.tgz
