body header a.baselink {
    color: white;
    font-weight: bold;
}

body:not(.render_raw) header div nav.shortcuts li a {
    color: white;
}

body:not(.render_raw) header div div.burger a {
    color: white;
}

article section.page div.content > div.highlight pre code {
    margin-left: 0;
    margin-right: 0;
}
